/* ------------------------------------------------------ Fonts */

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:wght@400;700;900&display=swap");

body {
  font-family: "Raleway", sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

/* ------------------------------------------------------ Colors */

.no-boundaries-grey {
  color: #545454;
}

/* Colors taken from Adobe Color - https://color.adobe.com/ */

/* Color Theme Swatches in Hex */
.Copy-of-Copy-of-cricket-1-hex {
  color: #053d70;
}
.Copy-of-Copy-of-cricket-2-hex {
  color: #028ccf;
}
.Copy-of-Copy-of-cricket-3-hex {
  color: #000000;
}
.Copy-of-Copy-of-cricket-4-hex {
  color: #088c00;
}
.Copy-of-Copy-of-cricket-5-hex {
  color: #a20004;
}

/* Color Theme Swatches in RGBA */
.Copy-of-Copy-of-cricket-1-rgba {
  color: rgba(4, 61, 112, 1);
}
.Copy-of-Copy-of-cricket-2-rgba {
  color: rgba(2, 140, 207, 1);
}
.Copy-of-Copy-of-cricket-3-rgba {
  color: rgba(0, 0, 0, 1);
}
.Copy-of-Copy-of-cricket-4-rgba {
  color: rgba(8, 140, 0, 1);
}
.Copy-of-Copy-of-cricket-5-rgba {
  color: rgba(161, 0, 4, 1);
}

/* Color Theme Swatches in HSLA */
.Copy-of-Copy-of-cricket-1-hsla {
  color: hsla(208, 91, 22, 1);
}
.Copy-of-Copy-of-cricket-2-hsla {
  color: hsla(199, 98, 40, 1);
}
.Copy-of-Copy-of-cricket-3-hsla {
  color: hsla(0, 0, 0, 1);
}
.Copy-of-Copy-of-cricket-4-hsla {
  color: hsla(116, 100, 27, 1);
}
.Copy-of-Copy-of-cricket-5-hsla {
  color: hsla(358, 100, 31, 1);
}

/* ------------------------------------------------------ Container */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* ------------------------------------------------------ Logo */

.logo-text {
  font-family: "Luckiest Guy", cursive;
  color: #545454;
  text-decoration: none;
  float: left;
  font-size: 200%;
}

.logo-o {
  color: red;
}

.logo-text:hover {
  font-family: "Luckiest Guy", cursive;
  color: #545454;
  text-decoration: none;
  float: left;
  font-size: 200%;
}

.logo-o:hover {
  color: red;
}

/* ------------------------------------------------------ Navbar */

.nav {
  padding-left: 10px;
  list-style-type: none;
  color: #545454;
  text-align: center;
}

.nav-link {
  color: #545454;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 20px;
  padding-left: 10px;
}

.nav-link:hover {
  color: red;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid red;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.nav-item {
  padding-left: 10px;
}

/* ------------------------------------------------------ Hero Image */

.main-image-container {
  padding: 5px 0px;
  background: url("/assets/images/ball_color.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.jumbotron {
  background: transparent;
}

.jumbotron-intro {
  text-align: center;
  font-weight: 900;
  color: white;
}

.jumbotron-paragraph-small {
  text-align: justify;
  padding: 2rem 1em;
  color: white;
  font-weight: 600;
}

.jumbotron-paragraph-large {
  text-align: justify;
  color: white;
  font-weight: 600;
  line-height: 1.8rem;
  font-size: 150%;
}

/* ------------------------------------------------------ Introduction  */

.introduction-container {
  color: #a20004;
  border-radius: 20px;
  padding: 3em;
  text-align: justify;
  background-color: white;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid #a20004;
}

.introduction-title {
  color: #a20004;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}

/* ------------------------------------------------------ Did you know? */

.did-you-know-title {
  color: white;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.did-you-know-container {
  width: 100%;
  background-color: #053d70;
  margin-top: 20px;
}

.did-you-know-quotes {
  color: white;
  font-weight: 400;
  padding: 1em;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .did-you-know-quotes {
    color: white;
    font-weight: 400;
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 200px;
    margin-bottom: 20px;
  }
}

/* ------------------------------------------------------ Well Being */

.wellbeing-title {
  color: #088c00;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

.wellbeing-text {
  text-align: center;
  color: #088c00;
  font-weight: bold;
  font-size: 150%;
}

.wellbeing-icon {
  text-align: center;
  color: #088c00;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0px;
}

/* ------------------------------------------------------ About us */

.about-us-text {
  color: #a20004;
  border-radius: 20px;
  padding: 3em;
  text-align: justify;
  background-color: white;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid #a20004;
  line-height: 2em;
  min-height: 400px;
  margin-bottom: 10px;
}

.active-text {
  display: inline-block;
  color: white;
}

.about-us-box {
  border-radius: 20px;
  border: 1px solid #a20004;
  background-color: #a20004;
  color: white;
  padding: 3em 0em 3em 3em;
  line-height: 2em;
}

.active-first-letter {
  font-family: "Luckiest Guy", cursive;
  font-size: 150%;
}

/* ------------------------------------------------------ Meet The Team */

.meet-the-team-title {
  color: #088c00;
  font-weight: 700;
  text-align: center;
  padding: 1em;
}

.meet-the-team-box {
  border: 1px solid #088c00;
  background-color: #088c00;
  color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  text-align: justify;
  min-height: 150px;
}



.meet-the-team-img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0px auto;
}

.name-box {
  border: 2px solid #088c00;
  color: #088c00;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;

}

.name-box h3 {
  font-weight: bold;
  text-align: center;
  padding-top: 10px;  
}

@media (min-width: 768px){
    .name-box {
  border: 2px solid #088c00;
  color: #088c00;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  height: 300px;

}

.name-box h3 {
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  font-size: 300%; 
}
}

/* ------------------------------------------------------ Footer*/

.footer-element {
  padding: 10px;
  background-color: #545454;
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 50px;
}

.footer-text {
  text-align: center;
  list-style-type: none;
  padding: 2px;
  text-decoration: none;
}

.footer-text li {
  display: inline;
}

.footer-text i {
  text-decoration: none;
  color: white;
  font-size: 100%;
  margin: 2%;
  padding: 2%;
  border: 1px solid white;
  border-radius: 50%;
}

.footer-text i:hover {
  text-decoration: none;
  color: red;
  font-size: 100%;
  margin: 2%;
  padding: 2%;
  border: 1px solid red;
  border-radius: 50%;
  transition-duration: 0.5s;
}
