/* ------------------------------------------------------ FONTS */

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:wght@400;700;800;900&display=swap");

.uppercase {
  text-transform: uppercase;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  background-color: #f2f2f2;
}

/* ------------------------------------------------------ COLORS */

.no-boundaries-grey {
  color: #545454;
}

/* Color theme taken from Adobe Color - https://color.adobe.com/ */

/* Color Theme Swatches in Hex */
.Modern-logo-design-template-1-hex {
  color: #3c3d40;
}
.Modern-logo-design-template-2-hex {
  color: #43aed9;
}
.Modern-logo-design-template-3-hex {
  color: #f2f2f2;
}
.Modern-logo-design-template-4-hex {
  color: #f26052;
}
.Modern-logo-design-template-5-hex {
  color: #d95252;
}

/* Color Theme Swatches in RGBA */
.Modern-logo-design-template-1-rgba {
  color: rgba(59, 60, 63, 1);
}
.Modern-logo-design-template-2-rgba {
  color: rgba(67, 174, 216, 1);
}
.Modern-logo-design-template-3-rgba {
  color: rgba(242, 242, 242, 1);
}
.Modern-logo-design-template-4-rgba {
  color: rgba(242, 95, 82, 1);
}
.Modern-logo-design-template-5-rgba {
  color: rgba(216, 82, 82, 1);
}

/* ------------------------------------------------------ CONTAINER */

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding: 0px;
}

/* ------------------------------------------------------ LOGO */

.logo-text {
  font-family: "Luckiest Guy", cursive;
  color: #3c3d40;
  text-decoration: none;
  float: left;
  font-size: 200%;
}

.logo-o {
  color: #f26052;
}

.logo-text:hover {
  font-family: "Luckiest Guy", cursive;
  color: #3c3d40;
  text-decoration: none;
  float: left;
  font-size: 200%;
}

.logo-o:hover {
  color: #f26052;
}

/* ------------------------------------------------------ NAVBAR */

.nav {
  padding-left: 10px;
  list-style-type: none;
  color: #3c3d40;
  text-align: center;
}

.nav-link {
  color: #3c3d40;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 20px;
}

.nav-link:hover {
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #43aed9;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.nav-item {
  padding: 10px;
  text-align: center;
}

.navbar-nav {
  padding-top: 10px;
}

.active {
  color: #43aed9;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #43aed9;
  border-radius: 20px;
  padding-left: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}

/* ------------------------------------------------------ HOMEPAGE */

/* ------------------------------------------------------ HERO IMAGE - HOMEPAGE */

/* Code taken from css-tricks with help from Hero Image lesson on code institue */
.main-image-container {
  padding: 5px 0px;
  background: url("../images/ball_two.jpeg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 600px;
}

.jumbotron {
  background: transparent;
}

.jumbotron-intro {
  text-align: center;
  font-weight: 900;
  color: #43aed9;
}

.jumbotron-paragraph-small {
  text-align: center;
  font-size: 200%;
  color: #f2f2f2;
  font-weight: 900;
}

.jumbotron-paragraph-large {
  text-align: center;
  color: #f2f2f2;
  font-weight: 900;
  font-size: 300%;
}

.homepage-tagline {
  text-align: center;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 125%;
  margin-top: 30px;
}

.jumbotron-cta {
  color: #f2f2f2;
  text-align: center;
  margin-top: 50px;
  line-height: 30px;
  font-weight: bold;
}

.jumbotron-cta-link {
  color: #d95252;
  background-color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
  white-space: nowrap;
}

.jumbotron-cta-link:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #d95252;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
  white-space: nowrap;
}

/* ------------------------------------------------------ DID YOU KNOW CONTAINER - HOMEPAGE */

.did-you-know-cta {
  color: #3c3d40;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: #43aed9;
  min-height: 50px;
  padding: 15px;
}

.did-you-know-title {
  color: #3c3d40;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.did-you-know-cta-link {
  color: #f2f2f2;
  background-color: #3c3d40;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
  white-space: nowrap;
}

.did-you-know-cta-link:hover {
  text-decoration: none;
  color: #3c3d40;
  background-color: #f2f2f2;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
  white-space: nowrap;
}


/* ------------------------------------------------------ INTRODUCTION SECTION - HOMEPAGE */

.homepage-meet-the-team {
  padding: 5px 0px;
  background: url("../images/adam_nick_homepage.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 660px;
}

.introduction-section {
  height: 220px;
  padding-left: 0px;
  padding-right: 20px;
  color: #3c3d40;
  border-bottom: 2px solid #3c3d40;
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  .introduction-section {
    height: 250px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }
}

.homepage-intro-title {
  font-weight: 800;
  color: #3c3d40;
  padding: 15px;
  margin: 0px;
}

.introduction-paragraph {
  text-align: justify;
  padding: 0px 20px 0px 15px;
  color: #3c3d40;
  font-weight: bold;
}

@media (min-width: 992px) {
  .introduction-paragraph {
    text-align: justify;
    padding: 0px 15px;
    color: #3c3d40;
    font-weight: bold;
  }
}

.introduction-link {
  font-weight: bold;
  text-decoration: none;
  color: #43aed9;
  line-height: 50px;
}

.introduction-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: #3c3d40;
}

.introduction-hr {
  border: 1px solid #3c3d40;
  background-color: #3c3d40;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ------------------------------------------------------ DID YOU KNOW SECTION - HOMEPAGE  */

/* ------------------------------------------------------ WELL BEING SECTION - HOMEPAGE */

.wellbeing-title {
  color: #3c3d40;
  font-weight: 700;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 50px;
}

.wellbeing-text {
  text-align: center;
  color: #3c3d40;
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 50px;
}

.wellbeing-icon {
  text-align: center;
  color: #d95252;
  font-weight: bold;
  font-size: 400%;
  margin-bottom: 20px;
}

.wellbeing-cta {
  color: #3c3d40;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  line-height: 30px;
  font-weight: bold;
  min-height: 50px;
  padding: 15px;
  width: 100%;
}

.wellbeing-cta-link {
  color: #f2f2f2;
  background-color: #d95252;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
}

.wellbeing-cta-link:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #3c3d40;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
}

/* ------------------------------------------------------ ABOUT US PAGE */

/* ------------------------------------------------------ ABOUT US SECTION - ABOUT US PAGE */

.about-us-title {
  color: #43aed9;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}

.method-image-container {
  padding: 5px 0px;
  background: url("../images/physical_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  margin-bottom: 20px;
}

.goal-image-container {
  padding: 5px 0px;
  background: url("../images/mental_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  margin-bottom: 20px;
}

.belief-image-container {
  padding: 5px 0px;
  background: url("../images/social_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 700px;
}

.about-us-sub {
  font-weight: 900;
  font-size: 400%;
  padding: 20px;
  color: #f2f2f2;
}

.new-about-us-box {
  border-radius: 20px;
  border: 1px solid rgba(67, 174, 216, 0.8);
  background-color: rgba(67, 174, 216, 0.8);
  color: #f2f2f2;
  font-weight: bold;
  padding: 20px;
  line-height: 2em;
  margin-top: 0px;
  margin-left: 20px;
  text-align: justify;
}

.about-us-cta {
  color: #3c3d40;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: #43aed9;
  min-height: 50px;
  padding: 15px;
}

.about-us-cta-link {
  color: #f2f2f2;
  background-color: #43aed9;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
  white-space: nowrap;
}

.about-us-cta-link:hover {
  text-decoration: none;
  color: #43aed9;
  background-color: #3c3d40;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
  white-space: nowrap;
}

/* ------------------------------------------------------ ACTIVE SECTION - ABOUT US PAGE */

.active-ethos-box {
  border: 2px solid #3c3d40;
  background-color: #3c3d40;
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 30px 10px;
}

.active-letter-box {
  height: 125px;
  width: 125px;
  border: 1px solid #43aed9;
  border-radius: 50%;
  background-color: #43aed9;
  margin: 10px auto;
}

.active-first-letter {
  font-family: "Luckiest Guy", cursive;
  color: #3c3d40;
  font-size: 80px;
  text-align: center;
}

.active-text {
  color: #43aed9;
  font-weight: bold;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  font-size: 20px;
}

@media (min-width: 768px) {
  .active-text {
    color: #43aed9;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: center;
    height: 125px;
    font-size: 20px;
  }
}

.active-hr {
  width: 80%;
  border: 2px solid #43aed9;
  background-color: #43aed9;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ------------------------------------------------------ MEET THE TEAM PAGE */

.meet-the-team-title {
  color: #d95252;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}

.meet-the-team-adam-image {
  padding: 5px 0px;
  background: url("../images/adam_square_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 660px;
  position: relative;
}

.meet-the-team-adam-image:hover {
  padding: 5px 0px;
  background: url("../images/adam_square.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 660px;
  transition-duration: 0.5s;
}

.meet-the-team-nick-image {
  padding: 5px 0px;
  background: url("../images/nick_square_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 660px;
  position: relative;
}

.meet-the-team-nick-image:hover {
  padding: 5px 0px;
  background: url("../images/nick_square.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 660px;
  transition-duration: 0.5s;
}

.meet-the-team-name {
  font-weight: 900;
  font-size: 400%;
  text-align: center;
  color: #f2f2f2;
  padding: 20px;
}

.meet-the-team-section {
  height: 154px;
  padding-left: 0px;
  padding-right: 20px;
  color: #3c3d40;
  border-top: 2px solid #3c3d40;

  background-color: #f2f2f2;
}

.meet-the-team-section-about-me {
  height: 198px;
  padding-left: 0px;
  padding-right: 20px;
  color: #3c3d40;
  border-top: 2px solid #3c3d40;
  background-color: #f2f2f2;
}

.meet-the-team-question {
  font-weight: 800;
  color: #3c3d40;
  padding: 10px;
  margin: 0px;
}

.meet-the-team-paragraph {
  text-align: justify;
  padding: 0px 20px 0px 10px;
  color: #3c3d40;
  font-weight: bold;
}

.nick-padding {
  padding: 15px;
}

.meet-the-team-cta {
  color: #f2f2f2;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  background-color: #d95252;
  min-height: 50px;
  padding: 15px;
}

.meet-the-team-link {
  color: #d95252;
  background-color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
  white-space: nowrap;
}

.meet-the-team-link:hover {
  text-decoration: none;
  color: #f2f2f2;
  background-color: #3c3d40;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
  white-space: nowrap;
}
/* ------------------------------------------------------ THE FACTS PAGE */

.the-facts-title {
  color: #3c3d40;
  font-weight: 900;
  text-align: center;
  padding: 1em;
}

.fact-box {
  position: relative;
  border: 1px solid #3c3d40;
  background-color: #3c3d40;
  color: #43aed9;
  border-radius: 20px;
  margin: 10px;
  text-align: justify;
  min-height: 300px;
  min-width: 300px;
}

.fact-box-number {
  color: #43aed9;
  padding-top: 80px;
  text-align: center;
  font-weight: bold;
  font-size: 500%;
}

/* .overlay .fact-box:hover .text css taken from https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease;
  background-color: #3c3d40;
  border: 1px solid #3c3d40;
  border-radius: 20px;
}

.fact-box:hover .overlay {
  opacity: 1;
}

.fact-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

@media (max-width: 320px) {
  .fact-text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
  }
  .fact-box {
    position: relative;
    border: 1px solid #3c3d40;
    background-color: #3c3d40;
    color: #43aed9;
    border-radius: 20px;
    margin: 10px 0px;
    text-align: justify;
    height: 280px;
    width: 280px;
  }
}

.the-facts-cta {
  color: #3c3d40;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 30px;
  font-weight: bold;
  min-height: 50px;
  padding: 15px;
}

.the-facts-cta-link {
  color: #f2f2f2;
  background-color: #43aed9;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px;
  white-space: nowrap;
}

.the-facts-cta-link:hover {
  text-decoration: none;
  color: #43aed9;
  background-color: #3c3d40;
  font-weight: 700;
  border-radius: 20px;
  transition-duration: 0.5s;
  padding: 5px;
  white-space: nowrap;
}

/* ------------------------------------------------------ CONTACT US PAGE */

/* Used same code as jumbotron on homepage for the image background - Taken from css tricks with code institute tutorial */
.main-image-container-contact {
  padding: 5px 0px;
  background: url("../images/ball_bw.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.contact-us-title {
  color: #f2f2f2;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.sign-up-box {
  background-color: rgba(67, 174, 216, 0.8);
  border: 1px transparent #43aed9;
  border-radius: 20px;
  height: 95%;
  width: 300px;
  margin: 20px auto;
  color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.form-text {
  background: transparent;
  color: #f2f2f2;
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
}

.form-text-comment {
  background: transparent;
  color: #f2f2f2;
  width: 100%;
  margin: 5px 0px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  padding: 0px;
}

/* Researched how to remove scrollbar on text box - Code taken from StackOverflow
https://stackoverflow.com/questions/19424887/remove-scrollbars-from-textarea */
.scroll::-webkit-scrollbar {
  display: none;
}

.form-button {
  background: #f2f2f2;
  color: #43aed9;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  margin-left: 33%;
}

/* Researched how to change text color for placeholder text - Code taken from W3 schools
https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder {
  color: #f2f2f2;
  padding: 5px;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #f2f2f2;
  padding: 5px;
  width: 100%;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f2f2f2;
  padding: 5px;
  width: 100%;
}

/* Researched how to remove blue border from input boxes - Code taken from Stackoverflow 
https://stackoverflow.com/questions/7648898/how-to-get-rid-of-blue-outer-border-when-clicking-on-a-form-input-field */
input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

label {
  margin: 5px auto;
}

/* ------------------------------------------------------ FOOTER */

.footer {
  margin-top: 30px;
}

.footer-element {
  padding: 30px 10px 10px 10px;
  background-color: #3c3d40;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  margin-bottom: -1px;
}

.copyright-text {
  padding: 10px;
  background-color: #3c3d40;
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  margin-bottom: 0px;
  font-size: 50%;
}

.footer-text {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

.footer-text li {
  display: inline;
}

.footer-text i {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 150%;
  margin: 2%;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.footer-text i:hover {
  text-decoration: none;
  color: #43aed9;
  font-size: 150%;
  margin: 2%;
  padding: 10px;
  border: 1px solid #43aed9;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.full-width-footer {
  padding: 0px;
}

a:hover {
  text-decoration: none;
}
